.chatbotContainer {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.chatToggleButton {
  background-color: var(--ifm-color-primary);
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatWindow {
  width: 350px;
  height: 500px;
  background-color: rgb(214, 92, 174);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(212, 41, 41, 0.2);
  display: flex;
  flex-direction: column;
}

.chatHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgb(130, 37, 202);
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.chatHeader h2 {
  margin: 0;
  font-size: 18px;
}

.closeButton {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.messageList {
  flex-grow: 1;
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message {
  padding: 10px;
  border-radius: 10px;
  max-width: 80%;
}

.message.user {
  background-color: #343903;
  align-self: flex-end;
}

.message.bot {
  background-color: #b62828;
  align-self: flex-start;
}

.citation {
  font-size: 12px;
  color: #555;
  margin-top: 5px;
  font-style: italic;
}

.chatInput {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ccc;
  color: aqua;
}

.chatInput input {
  flex-grow: 1;
  border: 3px solid #131010;
  border-radius: 5px;
  padding: 10px;
  color: rgb(163, 24, 24);
  background-color: chocolate;
}

.chatInput button {
  margin-left: 10px;
  background-color: green;
  color: rgb(224, 28, 28);
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
}

.askAiButton {
  position: absolute;
  background-color: black;
  color: rgb(165, 160, 160);
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1001;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}